/*
 * Base structure
 */

body {
    background: #e5eaee;
    /*background-color: #eee;*/
}


p {
    text-align: justify;
}

.nav-steps {
    background: #df0226;
}


.header-menu {
    margin: 0;
    height: 80px;
    background: #ffffff;
    position: relative;

    font-size: 14pt;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.header-menu > .inner-container {
    margin-top: 14px;
}

.header-menu a{
    color: #616161
}

.login-block {
    background: #01b1e9;
}

.vehicle-big-block {
    background: #fff;
    padding-bottom: 15px;
}

.navbar-toggle {
    border: 1px solid #929292;
}
/*

.center_div{
    margin: 0 auto;
    !*width:80% !* value of your choice which suits your alignment *!*!
}*/
